    
    
    <footer class="footer-distributed">
			<div class="footer-left">
          <img class="footlogo" src="https://seeklogo.com/images/H/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png">
				<h3>Spandan<span>  The power to heal</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					|
					<a href="#">About Us</a>
					|
					<a href="#">Departments</a>
					|
					<a href="#">Blood Storage</a>
				</p>

				<p class="footer-company-name">© 2020 Spandan Multispeciality Hospital Pvt. Ltd.</p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					  <p><span>309 - Rupa Solitaire,
						 Bldg. No. A - 1, Sector - 1</span>
						Mahape, Navi Mumbai - 400710</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 22-27782183</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:spandancare@gmail.com">spandancare@gmail.com</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>Spandan</span>
					Creating healthy tomorrows, with the care you need and compassion you deserve.</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>