<%- include('./partials/header') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css"></link>

<div class="header"></div>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-3 col-s-3 menu">
      <ul>
        <a href="#vision"><li>Vision</li></a>
        <a href="#mission"><li>Mission</li></a>
        <a href="#values"><li>Values</li></a>
        <a href="#bod"><li>Board of Directors</li></a>
        <a href="#kmp"><li>Key Management Personnel</li></a>
      </ul>
    </div>
  
    <div class="col-6 col-s-9">
      <h1>About Us</h1>
      <p>Spandan Multispecility Hospital is a leading integrated healthcare delivery service provider in India. The healthcare verticals of the company primarily comprise hospitals, diagnostics and day care specialty facilities. Currently, the company operates its healthcare delivery services in India, Nepal, Dubai and Sri Lanka with 36 healthcare facilities (including projects under development), approximately 4,000 operational beds and over 415 diagnostics centres.</p>
      <hr>
      <h5>AWARDS & ACCOLADES</h5>
      <p>
          <li>Economic Times Healthworld Hospital Awards’20</li>
          <li>Spandan Group won four awards in various categories at the Economic Times Healthworld Hospital Awards’20.</li>
          <li>Spandan won the ‘Best Hospital Chain’ and the ‘Best Hospital for Patient Care’ titles nationally.</li>
          <li>Spandan Hospital, Bannerghatta Road, Bengaluru, was named the ‘Best Hospital - Urology’ in its region.</li>
          <li>Spandan Memorial Research Institute, Gurugram, was recognised as the ‘Best Hospital - Oncology’ in its region.</li>
      </p>
      <hr>
      <h5>ABOUT SPANDAN MULTISPECIALITY</h5>
      <p>Spandan Multispeciality Hospital – an IHH Healthcare Group Company – is a leading integrated healthcare services provider in India. It is one of the largest healthcare organisations in the country with 36 healthcare facilities (including projects under development), 4000 operational beds and over 400 diagnostics centres (including JVs). Spandan is present in India, United Arab Emirates (UAE) & Sri Lanka. The Company is listed on the BSE Ltd and National Stock Exchange (NSE) of India. It draws strength from its partnership with global major and parent company, IHH, to build upon its culture of world-class patient care and superlative clinical excellence. Spandan employs 23,000 people (including SRL) who share its vision of becoming the world’s most trusted healthcare network. Spandan offers a full spectrum of integrated healthcare services ranging from clinics to quaternary care facilities and a wide range of ancillary services.
        About Us
      </p>

      <hr>
      <h5 id="vision">VISION</h5>
      <p>"To be a globally respected healthcare organisation known for Clinical Excellence and Distinctive Patient Care"</p>

      <hr>
      <h5 id="mission">MISSION</h5>
      <p>"Saving & Enriching Lives"</p>

      <hr>
      <h5 id="values">VALUES</h5>
      <p><strong>Patient Centricity</strong></p>
      <p> Commit to 'best outcomes and experience' for our patients.
        Treat patients and their caregivers with compassion, care and understanding.
        Our patients' needs will come first</p>

        <p><strong>Integrity</strong></p>
      <p> Be principled, open and honest..
        Model and live our 'Values'.
        Demonstrate moral courage to speak up and do the right things.</p>

        <p><strong>Teamwork</strong></p>
      <p>Proactively support each other and operate as one team.
        Respect and value people at all levels with different opinions, experiences and backgrounds.
        Put organization needs' before department/self interest.</p>

        <p><strong>Innovation</strong></p>
      <p>  Continuously improve and innovate to exceed expectations.
        Adopt a 'can-do' attitude.
        Challenge ourselves to do things differently.</p>

      <hr>
      <h5 id="bod">BOARD OF DIRECTORS</h5>

      <hr>
      <h5 id="kmp">KEY MANAGEMENT PERSONNEL</h5>
    </div>

  
    <div class="col-3 col-s-12">
      <div class="aside">
        <h2>The Brand</h2>
        <h5>Our Brand and the Logo</h5>
        <p>The Spandan brand with its distinctive logo is a synthesis of human values of trust, ethics and service and quality healthcare. We project clinical excellence, distinctive patient care, transparency in actions & high level of integrity and excellence in all that we do.</p>
        <p>Our logo projects these very values. The integration of the hands (in a distinctive ‘green’ with a ‘red dot’) and the human figure is completely seamless and is representative of ‘Fortis’ responsive approach to healthcare. The green colour of hands is representative of health, wellbeing, compassion, nurturing and generosity while the red dot gives an immediate association to our Indian roots, while it also represents energy, spirituality, courage and symbol of good luck.</p>
        <p>At Spandan, we intrinsically believe that excellence is not a destination – but a journey.</p>

      </div>
    </div>
  </div>
  
</div>
<div class="footer">
    <p> "Wherever the art of medicine is loved, there is also a love of humanity." </p>
  </div>
<%- include('./partials/footer') %>