<%- include('./partials/header') %>

<h1>this is admin show page</h1>
<h2>admin username</h2>
<a class="btn btn-xs btn-success" href="#" style="margin:1rem;margin-bottom: 1.5rem;">Manage Doctors</a>
<a class="btn btn-xs btn-success" href="#" style="margin:1rem;margin-bottom: 1.5rem;">Manage Patients</a>
<%- include('./partials/footer') %>