<%- include('./partials/header') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"></link>

  <div class="container-fluid">
    <div id="magicCarousel" class="carousel carousel1 slide my-5" data-ride="carousel">

<!--    Carousel Indicators    -->
      <ol class="carousel-indicators">
        <li data-target="#magicCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#magicCarousel" data-slide-to="1"></li>
        <li data-target="#magicCarousel" data-slide-to="2"></li>
        <li data-target="#magicCarousel" data-slide-to="3"></li>
      </ol>

<!--    Carousel Slider    -->
      <div class="carousel-inner carousel1-inner" role="listbox">
        <div class="carousel-item carousel1-item active">
          <img src="https://www.healthism.co/wp-content/uploads/2020/03/spandan-hospital.jpg" class="d-block w-100">
          <div class="carousel-caption carousel1-caption">
            <h3>Slide 01</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At placeat dolore obcaecati perspiciatis neque in, iusto, quia aut molestias minus ipsam modi dolorem odit eos.</p>
          </div>
        </div>

        <div class="carousel-item carousel1-item">
          <img src="https://www.lkc.com/wp-content/uploads/2019/11/Docs.jpg" class="d-block w-100">
          <div class="carousel-caption carousel1-caption">
            <h3>Slide 02</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vel in placeat corrupti. Velit quidem eos, accusantium vitae nostrum reiciendis ratione libero? Aperiam, recusandae culpa.</p>
          </div>
        </div>

        <div class="carousel-item carousel1-item">
          <img src="https://images.theconversation.com/files/370913/original/file-20201123-21-1avsxf3.jpg?ixlib=rb-1.1.0&rect=0%2C217%2C6609%2C3304&q=45&auto=format&w=668&h=324&fit=crop" class="d-block w-100">
          <div class="carousel-caption carousel1-caption">
            <h3>Slide 03</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ut beatae porro ullam quidem officia dignissimos facilis? Blanditiis nesciunt labore pariatur quaerat exercitationem quibusdam modi!</p>
          </div>
        </div>

        <div class="carousel-item carousel1-item">
          <img src="https://zydushospitals.com/Anand/images/ward_facility/General_Ward.jpg" class="d-block w-100">
          <div class="carousel-caption carousel1-caption">
            <h3>Slide 04</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis soluta accusamus sequi eos consectetur! Animi minima modi ad at similique velit quibusdam veritatis sequi placeat?</p>
          </div>
        </div>

<!--     Carousel Controls     -->
        <a href="#magicCarousel" class="carousel-control-prev carousel1-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#magicCarousel" class="carousel-control-next carousel1-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>

  <!-- side vertical scroll menu -->

  <div class="vertical-menu">
    <a class="active">QUICK LINKS</a>
    <a href="#">Book an Appoinment</a>
    <a href="#">Book a health checkup</a>
    <a href="#">Make a enquiry</a>
    <a href="#">Emergency Contacts</a>
    <a href="#">feedback</a>
    <a href="#">Medical Blogs</a>
    <a class="active">Covid-19 Section</a>
    <a href="#">44 ICU, 102 general beds vacant</a>
    <a href="#">56 - 5liter oxygen cyclinders</a>
    <a href="#">Quick register</a>
    <a href="#">11,500 covid patiets were addmitted</a>
    <a href="#">97.6% recovered</a>
    <a class="active">Schedule</a>
    <a href="#">Opens  - 8 AM</a>
    <a href="#">Closes - 10 PM</a>
    <a class="active">Contact</a>
    <a href="#">Emergency contact - +91-9865455555</a>
    <a href="#">Ambulance cell    -  +91-9876566666</a>
  </div>
  
  <div class="jumbotron jumbotron-fluid jumbo1">
    <div class="container">
      <h1 class="display-5">SPANDAN</h1>
      <img class="logo" src="/assets/logo.png">
      <p class="lead">The Multispeciality Hospital</p>
    </div>
  </div>

  <!-- ***************************Doctor's carousel************************ -->

<div class="container-fluid doct-container">  
  <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <div class="doct-content">
    <p><h2 class="display-5">We are Here for You</h2></p>
    <p>All our consultants are highly experienced in their fields and produce excellent outcomes for patients</p>
  </div>

  <!-- Controls-->
  <!-- <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-circle-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-circle-right"></i></a>
  </div> -->
  <!--/.Controls -->

  <!-- Indicators-->
  <ol class="carousel-indicators carousel2-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item carousel2-item active">

      <div class="col-md-4" style="float:left">
        <div class="card mb-3">
          <img class="card-img-top"
            src="https://demo.cherrytheme.com/gems/wp-content/uploads/2018/11/our-team-04.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr. Ross Geller</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-3">
          <img class="card-img-top"
            src="https://demo.cherrytheme.com/gems/wp-content/uploads/2018/11/our-team-04.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr. Joey Tribbiani</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-3">
          <img class="card-img-top"
            src="https://demo.cherrytheme.com/gems/wp-content/uploads/2018/11/our-team-04.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr. Phoebe Buffay</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item carousel2-item">

      <div class="col-md-4" style="float:left">
        <div class="card mb-3">
          <img class="card-img-top"
            src="https://demo.cherrytheme.com/gems/wp-content/uploads/2018/11/our-team-04.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr. Rachel Greene</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-3">
          <img class="card-img-top"
            src="https://demo.cherrytheme.com/gems/wp-content/uploads/2018/11/our-team-04.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr. Monica Geller</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-3">
          <img class="card-img-top"
            src="https://demo.cherrytheme.com/gems/wp-content/uploads/2018/11/our-team-04.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr. Chandler Bing</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->

   

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
</div>

<!-- ******************************************************* -->


<!-- ******************Patient's Testimonial Carousel************** -->
<div class="container-fluid pat-container">

  <div><h3>Patients' Testimonials</h3></div>

<div class="carrousel">						
  <input type="radio" name="slides" id="radio-1" checked>
  <input type="radio" name="slides" id="radio-2">
  <input type="radio" name="slides" id="radio-3">
  <input type="radio" name="slides" id="radio-4">
  <ul class="slides">
     <li class="slide">
        <p>
           <q>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</q> 
          <span class="author">
          <img src="https://th.thgim.com/news/international/m1m01s/article26984481.ece/alternates/FREE_300/30TH-TOLKIEN">
          Mark
          </span>
        </p>
       </li>        
        <li class="slide">
          <p>
            <q>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </q> 
            <span class="author">
              <img src="https://www.scout.org/sites/default/files/scout_news/98c80de7cee9782322fdca55409bf6bc--business-headshots-corporate-headshots.jpg">
              Emma
            </span>
          </p>
       </li>
      <li class="slide">
         <p>
            <q>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</q> 
            <span class="author">
            <img src="https://cdn.fastly.picmonkey.com/contentful/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=800&q=70">
            Paul
            </span>
         </p>
      </li>
      <li class="slide">
        <p>
          <q>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</q> 
          <span class="author">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            Richard
          </span>
        </p>
       </li>
  </ul>
  <div class="slidesNavigation">
    <label for="radio-1" id="dotForRadio-1"></label>
    <label for="radio-2" id="dotForRadio-2"></label>
    <label for="radio-3" id="dotForRadio-3"></label>
    <label for="radio-4" id="dotForRadio-4"></label>
  </div>
</div>

</div>

<!-- ************************************************************* -->

<!-- ***********************DOCTORS PATIENTS LIST******************* -->
<div class="container connn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card cardd">
        <div class="card-body">
          <h5 class="card-title">Want to search for Doctor?</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/showDoctors" class="btn btn-primary">View Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card cardd">
        <div class="card-body">
          <h5 class="card-title">Want to find a Patient?</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/user" class="btn btn-primary">View Here</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ***************************************************************************** -->

<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="col-lg-10 offset-lg-1 pt-5 pb-5 bg-dark text-light blog">
  <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0" style="color: aqua;"><i class="fa fa-quote-left"></i> Fit Bottomed Girls
            <p style="font-size: 16px;">For those who get frustrated with the status quo and ideals of what we “should” be, Fit Bottomed Girls offers a refreshing change of pace. The founders, both certified fitness pros, preach confidence and body positivity. They take a thoughtful approach to fitness, instead of quick, lose-fat-in-10-days results. Their roadmap to a healthier life is a combination of nutrition-packed recipes, doable daily workouts, and a good dose of meditation.</p>
          <footer class="blockquote-footer">Dr. Chandler Bing <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0" style="color: aqua;"><i class="fa fa-quote-left"></i> The Real Food Dietitians
            <p style="font-size: 16px;">This blog is for people who love their Instant Pot, slow cooker, and Whole30 plan. It features recipes for each, plus tips for meal prep efficiency. Not only are there tons of dietitian-authored recipes, but you can also opt in for customized meal plans.</p>
          </p>
          <footer class="blockquote-footer">Dr.Ross Geller <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0" style="color: aqua;"><i class="fa fa-quote-left"></i> Fitful Focus
            <p style="font-size: 16px;">Fitful Focus is ideal for skeptics who need a confidence boost. Blogger Nicole made a life change in 2012, losing 10 pounds and finishing her first marathon, and she could be just the cheerleader you need. The name says it all: Get fit, be full, stay focused. If that sounds up your alley, you’ll enjoy the vegan and gluten-free recipes, ab workouts, and discount codes for your online shopping list. </p>
          <footer class="blockquote-footer">D. Rachel Greene <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </blockquote>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
    </ol>
  </div>
</div>

<!-- ************************************************************************* -->
<!-- scrpit for carousel1 -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<%- include('./partials/footer') %>